body {
    margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      max-width: 100%; /* Empêcher le dépassement horizontal */
      overflow-x: hidden; /* Empêcher le défilement horizontal */
}

 .container {
      width: 100%; /* Occupe toute la largeur disponible */
      max-width: 1200px; /* Largeur maximale sur les grands écrans */
      margin: 0 auto; /* Centrer le contenu sur les grands écrans */
      padding: 20px;
    }

/* Header avec background dégradé */
.header {
    background:  #FFA500;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Logo Futuriste avec effet de clignotement */
.logo img{

    width: 120px;
    height: auto;

border-radius: 20px;
    
}

/* Barre de navigation */
.topnav {
    display: flex;
    background-color: #ffffff;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    transition: height 0.3s;
}

.topnav a {
    padding: 10px 20px;
    color: #0a0707;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 16px;
}

.topnav a:hover {
    background-color: #bba361;
    transform: translateY(-5px);
}

.topnav .dropdown-content {
    display: none;
    background-color: #ece7e7;
    position: absolute;
    top: 50px;
    left: 0;
    width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
    
}

/* Boutons Futuristes */
.btn-futuristic {
    background: linear-gradient(90deg, #0a0908, #503b36);
    border: none;
    border-radius: 50px;
    color: #faf5f5;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.5s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 191, 143, 0.5);
    text-decoration: none;
    margin-left: 10px;
}

.btn-futuristic:hover {
    background: linear-gradient(45deg, #001510, #00bf8f);
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 191, 143, 0.7);
}

.icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
    color: #ffffff;
}


/* Responsive Design */
@media screen and (max-width: 768px) {
    .topnav {
        flex-direction: column;
        height: 0;
        overflow: hidden;
    }

    .topnav.responsive {
        height: 100%;
        transition: height 0.3s;
    }

    .icon {
        display: block;
    }

    .topnav a {
        text-align: left;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        max-width: 100%; /* Empêcher le dépassement horizontal */
        overflow-x: hidden; /* Empêcher le défilement horizontal */
    }
}


/* Style de la bannière */
.hero-banner {
    background-image: url('falli.jpg'); /* Remplace par l'URL de ton image de fond */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh; /* La hauteur de la bannière */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #110a0a;
    padding: 0 20px;
    overflow: hidden;
    margin: 20px;

}

/* Effet de superposition futuriste */
.hero-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

/* Contenu de la bannière */
.banner-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
}

.banner-content h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    animation: fadeInDown 1s ease-out;
    color: hsl(249, 91%, 50%);
}

.banner-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
    animation: fadeInUp 1s ease-out;
    color: #369201;
}

/* Styles pour les tablettes */
@media only screen and (max-width: 768px) {
    .hero-banner {
        height: 70vh; /* Réduire la hauteur de la bannière pour les tablettes */
        background-size: contain; /* Contenir l'image dans la bannière sans couper */
    }

    .hero-banner .cta-button {
        font-size: 14px; /* Réduire la taille de la police du bouton */
        padding: 10px 20px; 
        margin-top: 40px;/* Réduire les paddings du bouton */
    }
}

/* Styles pour les mobiles */
@media only screen and (max-width: 480px) {
    .hero-banner {
        height: 50vh; /* Réduire encore la hauteur de la bannière pour les mobiles */
        margin-top: 20px;
        background-size: cover; /* Ajuster l'image de fond */
    }

    .hero-banner .cta-button {
        font-size: 12px; /* Réduire davantage la taille de la police du bouton */
        padding: 10px 16px;
        margin-top: 40px; /* Réduire encore les paddings du bouton */
    }

    body {
        margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      max-width: 100%; /* Empêcher le dépassement horizontal */
      overflow-x: hidden; /* Empêcher le défilement horizontal */
    }
}
/* Styles pour le conteneur du diaporama avec dégradé futuriste */

.slideshow-container {
    max-width: 1000px; /* Largeur du conteneur */
    position: relative;
    margin: auto; /* Dégradé orange futuriste */
    padding: 10px; /* Un peu de padding pour l'espacement intérieur */
}

/* Styles pour les images du diaporama */
.mySlides img {
    width: 100%; /* L'image remplit la largeur du conteneur */
    height: auto; /* Conserve les proportions de l'image */
    display: block; /* Supprime les marges de la ligne */
    margin: 0 auto; /* Centre l'image horizontalement */
}

/* Masquer les images par défaut */
.mySlides {
    display: none;
}


  .active:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /* Responsiveness */
@media (max-width: 768px) {
    .banner-text h1 {
        font-size: 2em;
    }
    .banner-text p {
        font-size: 1em;
    }
    .btn {
        padding: 10px 20px;
    }
}

/* Adapter aux mobiles et tablettes */
@media (max-width: 768px) {
    .slideshow-container {
        width: auto;
        height: auto;
    }

    .mySlides {
        height: auto;
        width: auto;
    }
}


/* Style de la section Slogan */
.slogan-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh; /* Hauteur de la section */
    background: linear-gradient(to right, #e2ebe4, #f3f3f7); /* Dégradé de rouge pour le fond */
    color: #0a0808;
    text-align: center;
    padding: 20px;
}

.slogan-content {
    max-width: 600px;
}

.slogan-content h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: 700;
}


/* Responsive design */
@media (max-width: 768px) {
    .slogan-content h2 {
        font-size: 2em;
    }

}

@media (max-width: 480px) {
    .slogan-section {
        height: auto;
        padding: 30px 10px;
    }

    .slogan-content h2 {
        font-size: 1.5em;
    }

    .cta-button {
        padding: 10px 20px;
        font-size: 0.9em;
    }
}

/* Section de la newsletter */
.newsletter-section {
    width: auto;
    max-width: 100%;
    padding: 20px;
    background:  #FFA500;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-content {
    text-align: center;
    padding: 20px;
}

/* Style pour le titre */
.newsletter-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #111614; /* Couleur vive pour un effet futuriste */
}

/* Style pour le paragraphe */
.newsletter-content p {
    font-size: 16px;
    margin-bottom: 20px;
}

/* Formulaire de newsletter */
.newsletter-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.newsletter-form input[type="email"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #444;
    border-radius: 5px;
    width: 70%;
    background-color: #a79fec;
    color: #0c0707;
    margin-right: 10px;
}

.newsletter-form .cta-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fcfbff;
    background-color: #04160f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.newsletter-form .cta-button:hover {
    background-color: #879bf1;
}

/* Adapter aux mobiles et tablettes */
@media (max-width: 768px) {
    .newsletter-form {
        flex-direction: column;
        width: 100%;
    }

    .newsletter-form input[type="email"],
    .newsletter-form .cta-button {
        width: 100%;
        margin: 5px 0;
    }
}
@media (max-width: 480px) {
    .newsletter-section {
        height: auto;
        padding: 30px 10px;
    }

    .newsletter-content h2 {
        font-size: 1.5em;
    }

    .newsletter-content p {
        font-size: 0.9em;
    }

    .newsletter-form input[type="email"] {
        padding: 12px;
    }

    .newsletter-form button {
        padding: 10px 20px;
        font-size: 0.8em;
    }
}

/* Style de la section Logement */
.housing-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh; /* Hauteur de la section */
    background:  #FFA500; /* Dégradé vert et bleu */
    color: #1a1313;
    text-align: center;
    padding: 20px;
}

.housing-content {
    max-width: 600px;
    width: 100%;
}

.housing-content h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre portée pour effet futuriste */
}

/* Responsive design */
@media (max-width: 768px) {
    .housing-content h2 {
        font-size: 2em;
    }

}

@media (max-width: 480px) {
    .housing-section {
        height: auto;
        padding: 30px 10px;
    }

    .housing-content h2 {
        font-size: 1.5em;
    }

    .cta-button {
        padding: 10px 20px;
        font-size: 0.9em;
    }
}

/* Style de la section Plateforme */
.platform-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh; /* Hauteur de la section */
    background: linear-gradient(to right, #f0f3f3, #eff3ef); /* Dégradé vert foncé et turquoise */
    color: #130e0e;
    text-align: center;
    padding: 20px;
}

.platform-content {
    max-width: 700px;
    width: 100%;
}

.platform-content h1 {
    font-size: 2.5em;
    margin-bottom: 15px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre portée pour effet futuriste */
}

.platform-content p {
    font-size: 1.5em;
    margin-bottom: 20px;
    line-height: 1.4;
}



/* Responsive design */
@media (max-width: 768px) {
    .platform-content h1 {
        font-size: 2em;
    }

    .platform-content p {
        font-size: 1.2em;
    }

    .cta-button {
        padding: 12px 25px;
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .platform-section {
        height: auto;
        padding: 30px 10px;
    }

    .platform-content h1 {
        font-size: 1.5em;
    }

    .platform-content p {
        font-size: 1em;
    }

    .cta-button {
        padding: 10px 20px;
        font-size: 0.9em;
    }
}

/* Style de la section Réseaux sociaux */
.social-media-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background:  #FFA500;
 /* Dégradé sombre */
    color: #161111;
    text-align: center;
    padding: 20px;
}

.social-media-content {
    max-width: 600px;
    width: 100%;
}

.social-media-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.social-media-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #333;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative;
    overflow: hidden;
}

.social-icon::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.2);
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease;
    border-radius: 50%;
}

.social-icon:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.social-icon.facebook { background: #3b5998; }
.social-icon.twitter { background: #1da1f2; }
.social-icon.instagram { background: #e4405f; }
.social-icon.linkedin { background: #0077b5; }
.social-icon.youtube { background: #ff0000; }

/* Responsive design */
@media (max-width: 768px) {
    .social-media-content h2 {
        font-size: 1.5em;
    }

    .social-icon {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    .social-media-content h2 {
        font-size: 1.2em;
    }

    .social-icon {
        width: 35px;
        height: 35px;
    }
}


/* Style de la section de soutien */
.support-section {
    padding: 20px;
}

.support-section .container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap; /* Permet aux colonnes de se réorganiser sur plusieurs lignes si nécessaire */
    margin: 0 auto; /* Centre le conteneur horizontalement */
    max-width: 100%; /* Assure que le conteneur ne dépasse pas la largeur du body */
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
}

/* Styles pour les colonnes */
.support-column,
.actions-column {
    flex: 1 1 48%; /* Chaque colonne prend environ 48% de l'espace disponible pour laisser un peu d'espace entre elles */
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
}

.support-column {
    background: linear-gradient(to right, #FFA726, #0df02b);
 /* Dégradé bleu et vert */
    color: #0e0909;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 100%;
}

.support-column h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.support-column p {
    font-size: 1.2em;
    margin-bottom: 20px;
}



.actions-column {
    background-color: #fafafa;
    padding: 20px;
    border-radius: 8px;
    width: auto;
}

.actions-column h3 {
    font-size: 1.8em;
    margin-bottom: 20px;
    font-weight: 700;
}

.actions-column ul {
    list-style: none;
    padding: 0;
}

.actions-column li {
    font-size: 1.2em;
    margin-bottom: 10px;
    position: relative;
    padding-left: 25px;
}

.actions-column li::before {
    content: '✓';
    color: #4a90e2;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.5em;
}

/* Adapter la section pour les écrans plus petits */

@media screen and (max-width: 768px) {
    .support-section .container {
        flex-direction: column; /* Empile les colonnes verticalement sur les petits écrans */
        align-items: stretch; /* Étend les colonnes pour remplir toute la largeur */
    }

    .support-column,
    .actions-column {
        width: 100%; /* Chaque colonne occupe 100% de la largeur du conteneur */
        text-align: center; /* Centre le texte pour une meilleure lisibilité */
        margin-bottom: 20px; /* Ajoute un espace entre les colonnes */
    }
}
/* Style de la section Rejoignez le mouvement */
.join-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh; /* Hauteur de la section */
    background:  #FFA500;

    color: #110a0a;
    text-align: center;
    padding: 20px;
}

.join-content {
    max-width: 800px;
    width: 100%;
}

.join-content h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: 700;
}

.join-content p {
    font-size: 1.5em;
    margin-bottom: 30px;
    line-height: 1.4;
}


/* Responsive design */
@media (max-width: 768px) {
    .join-content h2 {
        font-size: 2em;
    }

    .join-content p {
        font-size: 1.2em;
    }

    .cta-button {
        padding: 12px 25px;
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .join-section {
        height: auto;
        padding: 30px 10px;
    }

    .join-content h2 {
        font-size: 1.5em;
    }

    .join-content p {
        font-size: 1em;
    }

    .cta-button {
        padding: 10px 20px;
        font-size: 0.9em;
    }
}


/* Footer styles */
.footer {
    background:  #FFA500;
    padding:  0;
    text-align: center;
    color: #050303;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin:  0;
}

.footer-column h4 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin: 5px 0;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: #ffebcd;
}

.social-media ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

.social-media ul li {
    margin: 0 10px;
}

.social-media ul li a {
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease;
}

.social-media ul li a:hover {
    color: #ffebcd;
}

.footer-bottom {
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        text-align: center;
        min-width: 100%;
    }
}

/* Adapter le footer pour les écrans plus petits */
@media screen and (max-width: 768px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr); /* Utilise une grille de 2 colonnes égales pour les tablettes et mobiles */
        width: calc(100% - 10px); /* Respecte les marges de 10px du body de chaque côté */
        gap: 10px;                /* Réduit l'espace entre les colonnes pour les petits écrans */
    }

    .footer-column {
        width: 100%; /* Chaque colonne occupe 100% de la largeur de la grille */
        text-align: center; /* Centre le contenu des colonnes */
        
    }
}


.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #111018; /* Couleur turquoise moderne */
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-transform: uppercase; /* Texte en majuscules pour accentuer l'effet */
}

.cta-button:hover {
    background-color: #009688;
    transform: scale(1.05);
}

.chat-button {
    position: fixed;
    bottom: 20px;
    right: 50px;
    background: black;
    color: rgb(242, 243, 247);
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    z-index: 1000;
}

.chat-container {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.3s ease-out;
    transform: translateY(120%);
    z-index: 1000;
}

.chat-container.active {
    transform: translateY(0);
}

.chat-header {
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-chat {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.chat-messages {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
}

.chat-input {
    border: none;
    padding: 10px;
    border-top: 1px solid #eee;
}



@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 165, 0, 0.7);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(255, 165, 0, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 165, 0, 0);
    }
}

.chat-button {
    animation: pulse 2s infinite;
}

section.pdf-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.pdf-item {
    background-color: white;
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.pdf-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

figcaption {
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}

button.downloadBtn {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #0e1013;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button.downloadBtn:hover {
    background-color: #0056b3;
}

/* Styles pour mobile */
@media (max-width: 768px) {
    section.pdf-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        
    }
}

/* Styles pour petit écran (mobile) */
@media (max-width: 480px) {
    section.pdf-grid {
        grid-template-columns: 1fr;
        gap: 5px;
    }

    button.downloadBtn {
        width: 100%;
    }
}


/* Styles pour les écrans de tablettes (≥768px) */
@media screen and (max-width: 768px) {

    
    .header .logo img {
        width: 80px;
        height: 80px;
    }

    .btn-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .banner-content .cta-button {
        font-size: 18px;
    }

    .slideshow-container img {
        width: 100%;
    }

    .slogan-section h2, .newsletter-section h2 {
        font-size: 1.8rem;
    }

    .pdf-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .pdf-item {
        flex: 1 1 45%;
        margin: 10px;
    }
}

/* Styles pour les petits écrans de mobile (≤480px) */
@media screen and (max-width: 480px) {
    .header .logo img {
        width: 60px;
        height: 60px;
    }

    .icon {
        font-size: 24px;
    }

    .topnav a {
        padding: 12px;
        font-size: 14px;
    }

    .btn-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-banner .cta-button {
        font-size: 16px;
        padding: 10px 20px;
    }

    .slideshow-container img {
        width: 100%;
        height: auto;
    }

    .slogan-section, .newsletter-section, .housing-section, .platform-section {
        padding: 10px;
    }

    .social-media-icons a {
        font-size: 20px;
    }

    .pdf-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .pdf-item {
        margin: 5px 0;
    }

    footer {
        padding: 10px;
    }

    footer ul {
        padding-left: 0;
    }

    .footer-column {
        margin-bottom: 20px;
    }
}
